# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might be created by OS
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created by editors
.vscode/
.idea/
*.swp
*.swo

# Node modules
node_modules/
